<h1 style="text-align: center">heading text here </h1>
<div class="product-outer">
	<h2>Sku 1</h2>
		<ul>
		
		        <li routerLink="/product-page"> </li>
				<li routerLink="/product-page"></li>
				<li routerLink="/product-page"></li>
				<li routerLink="/product-page"></li>
		    	<li routerLink="/product-page"></li>
		</ul>
		
		<ul >
		<h2>Sku 1</h2>
	         	<li routerLink="/product-page"></li>
				<li routerLink="/product-page"></li>
				<li routerLink="/product-page"></li>
				<li routerLink="/product-page"></li>
		    	<li routerLink="/product-page"></li>
		</ul>
	
	</div>